* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(../src/img/background.png);
  background-repeat: repeat;
  font-family: 'Poppins';
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-transform: uppercase;
  color: #F2F2F2;
  margin-bottom: 2px;
}

.title {
  border: solid red 1px;
  width: 464px;
  display: flex;
  position: relative;
}

.iconWorld {
  width: 162px;
  height: 100px;
  position: absolute;
  right: 0px;
}

/*---------APP Style-------*/
.body {
  border: solid red 1px;
}

.questionSection {
  background: white;
  width: 464px;
  height: 515px;
  border-radius: 24px;
  border: solid rgb(128, 0, 83) 2px;
  padding: 50px 10px 10px 17px;
}
.question-p{
  color: #2f527b;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin: 17px 0px 10px 0px;
}
.App {
  width: 100vw;
  height: 95vh;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*-----------Option Style ------------*/
.correct{
  background: #60bf80;
}
.incorrect{
  background: #ea8282;
}
.neutro{
  background: #fff;
}
.option button {
  width: 400px;
  height: 56px;
  border: 2px solid rgba(96, 102, 208, 0.7);
  border-radius: 12px;
  display: flex;
  align-items: center;
  color: rgba(96, 102, 208, 0.7);
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin: 15px 0px 15px 7px;
  padding-left: 4px;
}
.option .butto:hover{
  background: #f9ab26;
}
.hide{
  display: none;
}
.show{
  display: block;
}
.dp{
  border: solid 1px red;
}
.imgFlag{
  width: 84px;
  height: 54px;
  border: solid 1px red;
}

/*-----------Footer --------------*/
footer {
  margin-top: 5px;
  margin-bottom: 5px;
}

footer p {
  text-align: center;
  color: #F2F2F2;
  font-size: 16px;
}

footer a {
  color: white;
}